<h4 class="card-title">
    {{getPregunta()}}
</h4>
<ul class="list-group">
    <li *ngFor="let respuesta of listaPreguntas[_questionService.indexPregunta].respuestas; let i = index"
        (click)="respuestaSeleccionada(respuesta, i)"
        [ngClass]="AddClassOption(respuesta)"           
        class="list-group-item">
        {{respuesta.nombre}}
        <span *ngIf="iconCorrecto(respuesta)" class="material-icons correct badge">
            check_circle
        </span>
        <span *ngIf="iconIncorrecto(respuesta)" class="material-icons incorrect badge">
            clear
        </span>
    </li>
</ul>
<br>
<app-botonera ></app-botonera>